@{
    ViewBag.Title = "Home Page";
}



<!--============================== Content Start ==============================-->
<div class="content-container hero-container dots-inside white-dots os-animation" id="pageTop">
    <div class="hero-slider _hero_slider pb-0">
        <div class="hero-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="hero-slide-content">
                            <h1>Lorem ipsum, dolor sit <span>amet consectetur</span>  adipisicing, elit.</h1>
                            <a href="/Home/Contact" class="btn btn-primary">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-img">
                <img src="/include/images/hero-img3.jpg" alt="">
            </div>
        </div>
        <div class="hero-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="hero-slide-content" style="text-align: center;">
                            <h1>Lorem ipsum, dolor sit <span>amet consectetur</span>  adipisicing, elit.</h1>
                            <a href="/Home/Contact" class="btn btn-primary">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-img">
                <img src="/include/images/hero-img1.jpg" alt="">
            </div>
        </div>
        <div class="hero-slide">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="hero-slide-content">
                            <h1>Lorem ipsum, dolor sit <span>amet consectetur</span>  adipisicing, elit.</h1>
                            <a href="/Home/Contact" class="btn btn-primary">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-img">
                <img src="/include/images/hero-img3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container">
    <div class="container">
        <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
            <div class="col-md-6">
                <div class="vd-box">
                    <img src="/include/images/hero-img3.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 ps-md-5">
                <div class="main-heading">
                    <h3> Day & Night Quality Mobile Detailing Services</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, enim unde ut, distinctio placeat consequuntur explicabo atque nisi molestias, iure vitae dolorum, ab velit voluptates cupiditate eius cumque dolore laboriosam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, molestias, dolorem. Rem quaerat nemo velit, odit asperiores illum praesentium rerum soluta veritatis obcaecati aliquid similique.</p>
                    <a href="/Home/Contact" class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container pt-0">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
        <div class="main-heading common-heading text-center">
            <h3>Our Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio ullam vitae, consequatur. Reiciendis sapiente unde odio necessitatibus dignissimos iure.</p>
        </div>
        <ul class="service-list">
            <li class="service-item">
                <div class="service-content">
                    <div class="service-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h5><a href="#!">Auto Detailing</a></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, delectus?</p>
                    <div class="service-btn">
                        <a href="/Home/Contact" class="btn btn-default">LEARN MORE</a>
                    </div>
                    <div class="service-img">
                        <img src="/include/images/service-img1.png" alt="">
                    </div>
                </div>
            </li>
            <li class="service-item">
                <div class="service-content">
                    <div class="service-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h5><a href="#!">Rv Detailing</a></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, delectus?</p>
                    <div class="service-btn">
                        <a href="/Home/Contact" class="btn btn-default">LEARN MORE</a>
                    </div>
                    <div class="service-img">
                        <img src="/include/images/service-img1.png" alt="">
                    </div>
                </div>
            </li>
            <li class="service-item">
                <div class="service-content">
                    <div class="service-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h5><a href="#!">Motorcycle Detailing</a></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, delectus?</p>
                    <div class="service-btn">
                        <a href="/Home/Contact" class="btn btn-default">LEARN MORE</a>
                    </div>
                    <div class="service-img">
                        <img src="/include/images/service-img1.png" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container pt-0">
    <div class="container">
        <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
            <div class="col-md-6 pe-md-5">
                <div class="main-heading">
                    <h3>About Day & Night Detailing.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, enim unde ut, distinctio placeat consequuntur explicabo atque nisi molestias, iure vitae dolorum, ab velit voluptates cupiditate eius cumque dolore laboriosam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, molestias, dolorem. Rem quaerat nemo velit, odit asperiores illum praesentium rerum soluta veritatis obcaecati aliquid similique.</p>
                    <a href="/Home/Contact" class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="vd-box">
                    <img src="/include/images/hero-img3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container pt-0">
    <div class="container">
        <div class="main-heading common-heading text-center">
            <h3>Our Pricing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio ullam vitae, consequatur. Reiciendis sapiente unde odio necessitatibus dignissimos iure.</p>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="price_box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                    <div class="price_upper_box">
                        <h3>Signature Detail</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                    <div class="service_detail_btn">
                        <a href="/Home/Contact" class="btn btn-primary d-block">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="price_box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.8s">
                    <div class="price_upper_box">
                        <h3>Signature Detail</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                    <div class="service_detail_btn">
                        <a href="/Home/Contact" class="btn btn-primary d-block">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="price_box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1.2s">
                    <div class="price_upper_box">
                        <h3>Signature Detail</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                    <div class="service_detail_btn">
                        <a href="/Home/Contact" class="btn btn-primary d-block">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pe-md-5">
                <div class="main-heading common-heading">
                    <h3>Our Gallery</h3>
                </div>
                <ul class="galler-list">
                    <li class="gallery-img">
                        <a href="/include/images/gallery-list-img1.jpg" class="galler-img-box">
                            <img src="/include/images/gallery-list-img1.jpg" alt="">
                        </a>
                    </li>
                    <li class="gallery-img">
                        <a href="/include/images/gallery-list-img2.jpg" class="galler-img-box" style="padding-bottom: 97.6%;">
                            <img src="/include/images/gallery-list-img2.jpg" alt="">
                        </a>
                    </li>
                    <li class="gallery-img">
                        <a href="/include/images/gallery-list-img2.jpg" class="galler-img-box" style="padding-bottom: 68.8%;">
                            <img src="/include/images/gallery-list-img2.jpg" alt="">
                        </a>
                    </li>
                    <li class="gallery-img">
                        <a href="/include/images/gallery-list-img2.jpg" class="galler-img-box">
                            <img src="/include/images/gallery-list-img2.jpg" alt="">
                        </a>
                    </li>
                    <li class="gallery-img">
                        <a href="/include/images/gallery-list-img2.jpg" class="galler-img-box">
                            <img src="/include/images/gallery-list-img2.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 ps-md-3">
                <div class="main-heading common-heading">
                    <h3>Why Choose Us</h3>
                </div>
                <ul class="why-choose-list">
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                    <li>Professionally Trained & Certified Technicians</li>
                </ul>
                <a href="/Home/Contact" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container pt-0">
    <div class="container">
        <div class="main-heading common-heading text-center">
            <h3>What They Say About Us ?</h3>
        </div>
        <div class="testimonial-box">
            <div class="testimonial-box-left">
                <div class="testimonial-list testimonial_slider pb-0">
                    <div class="testtimonial-item">
                        <div class="testimonial-content position-relative">
                            <p>I can't thank Travice enough for the outstanding service they provided. The interior detailing completely revitalized my car's cabin. It looked and smelled fantastic. They also went above and beyond by fixing an electrical problem that had been bothering me for months. Their knowledgeable team quickly diagnosed and resolved the issue, and now my car runs smoothly. I'm incredibly satisfied with their professionalism and attention to detail. You won't be disappointed!</p>
                            <div class="testimonial-bottom">
                                <div class="testimonial-img">
                                    <img src="/include/images/gallery-list-img2.jpg" alt="">
                                </div>
                                <div class="client-name">
                                    <h3>XYZ <span>web designer</span></h3>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testtimonial-item">
                        <div class="testimonial-content position-relative">
                            <p>I can't thank Travice enough for the outstanding service they provided. The interior detailing completely revitalized my car's cabin. It looked and smelled fantastic. They also went above and beyond by fixing an electrical problem that had been bothering me for months. Their knowledgeable team quickly diagnosed and resolved the issue, and now my car runs smoothly. I'm incredibly satisfied with their professionalism and attention to detail. You won't be disappointed!</p>
                            <div class="testimonial-bottom">
                                <div class="testimonial-img">
                                    <img src="/include/images/gallery-list-img2.jpg" alt="">
                                </div>
                                <div class="client-name">
                                    <h3>XYZ <span>web designer</span></h3>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-box-right">
                <img src="/include/images/testimonial-img.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
