
@{
    ViewBag.Title = "RvDetailingService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--============================== Content Start ==============================-->
<div class="banner_container">
    <div class="container">
        <div class="row align-items-center" data-aos="fade-in" data-aos-duration="900">
            <div class="col-md-12">
                <h1>Rv Detailing</h1>
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rv Detailing</li>
        </ol>
    </div>
    <div class="banner_bg">
        <img src="/include/images/hero-img1.jpg" alt="">
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main-heading">
                    <h3>Finest Services:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dignissimos, deserunt sunt porro reiciendis libero quaerat quidem minima ullam consequuntur alias praesentium accusamus at nesciunt eum dicta quo earum corporis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae optio esse culpa, saepe perspiciatis, nostrum excepturi repellendus dolores, ut ab nam libero iure sunt! Id, quod! Quibusdam, rerum, aliquid?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nisi cum accusantium tenetur amet voluptas voluptatibus necessitatibus pariatur quos, magni, fuga commodi sequi, temporibus iste assumenda, quas quae officia quibusdam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed molestias illum vitae laborum ipsum ab dolore quo, maxime quibusdam commodi ut aliquid, sequi, velit neque sapiente, eius impedit provident!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Porro voluptates dolor excepturi libero sapiente animi perferendis consequatur soluta, dicta nisi?</p>
                </div>
            </div>
            <div class="col-md-6 ps-md-5">
                <div class="main-heading">
                    <h3>Service Features:</h3>
                    <ul class="service-inner-list">
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                        <li>Professionally Trained & Certified Technicians</li>
                    </ul>
                    <ul class="service-inner-list add-mar">
                        <h5>Additional Services Products:</h5>
                        <li>Mothers™</li>
                        <li>Mothers™</li>
                        <li>Mothers™</li>
                        <li>Mothers™</li>
                        <li>Mothers™</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt--md-5">
            <div class="col-md-6">
                <div class="service-inner-img">
                    <img src="/include/images/hero-img1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-inner-img">
                    <img src="/include/images/hero-img1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->
<!--============================== Content Start ==============================-->
<div class="content-container grey-bg">
    <div class="container">
        <div class="main-heading text-center">
            <h3>Ceramic Coating</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quibusdam officia unde perspiciatis incidunt fugit repellendus distinctio odit assumenda soluta, qui neque excepturi temporibus error. Deleniti blanditiis voluptates perspiciatis aspernatur veritatis quam officiis illum aliquam facilis repudiandae ipsa esse, accusamus ipsam optio fuga necessitatibus. Reiciendis doloremque doloribus assumenda expedita, rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea explicabo veritatis iste pariatur reprehenderit? Laborum natus est perferendis, nisi necessitatibus fugiat voluptatibus veniam earum repellendus ad aut facilis neque rem aliquid voluptatem fuga quisquam praesentium pariatur ipsum nulla veritatis optio cupiditate assumenda, debitis. Veritatis aperiam velit tenetur aliquid eaque pariatur fuga unde nemo, assumenda commodi maiores accusamus voluptate quas.</p>
        </div>
        <div class="gallery-inner-list">
            <div class="gallery-inner-ietm">
                <a href="/include/images/hero-img1.jpg" class="gallery-inner-box">
                    <img src="/include/images/hero-img1.jpg" alt="">
                </a>
            </div>
            <div class="gallery-inner-ietm">
                <a href="/include/images/hero-img1.jpg" class="gallery-inner-box">
                    <img src="/include/images/hero-img1.jpg" alt="">
                </a>
            </div>
            <div class="gallery-inner-ietm">
                <a href="/include/images/hero-img1.jpg" class="gallery-inner-box">
                    <img src="/include/images/hero-img1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="price_box">
                    <div class="price_upper_box">
                        <h3>5 Year</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_box">
                    <div class="price_upper_box">
                        <h3>5 Year</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_box">
                    <div class="price_upper_box">
                        <h3>5 Year</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="price_lower_box">
                        <h2><sup>$</sup>499</h2>
                        <p>Starting At*</p>
                    </div>
                    <ul class="service_detail_list">
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                        <li>Interior thoroughly Vaccumed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content End ==============================-->